
  /*Card historico*/

  .card-history {
    width: 98%;
    height: 70px;
    background: #353535;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    backdrop-filter: blur(10px);
    transition: 0.5s ease-in-out;
  }
  
  .card-history:hover {
    cursor: pointer;
    transform: scale(1.02);
  }
  
  .img-box {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 10px;
    background: linear-gradient(#d7cfcf, #9198e5);
  }
  
  .card-history:hover > .img-box {
    transition: 0.2s ease-in-out;
    background: linear-gradient(#9198e5, #712020);
  }
  
  .textBox {
    width: calc(100% - 90px);
    margin-left: 10px;
    color: #bdbecb;
    font-family: 'Poppins' sans-serif;
  }
  
  .text-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
  }
  
  .hour {
    font-size: 10px;
  }
  
  .title-card {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
  }
  
  .p {
    font-size: 12px;
    font-weight: 300;
  }
  
  